.admindonations-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 280px;
  margin-right: 20px;
  min-height: 100vh; /* Ensures the container takes full height */
}

.admin-donations-content {
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #dee2e6;
  text-align: left;
}

table th {
  background-color: #dc1658;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}