.adminalumni-container {
  padding: 20px;
  margin-left: 280px;
  margin-right: 20px;
}

.registrant-search {
  margin-bottom: 20px;
}

.table-container {
  margin-bottom: 40px;
}

.scrollable-table {
  max-height: 300px; /* Limit the height of the table */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ddd;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f8f9fa;
  position: sticky;
  top: 0; /* Keep the header row fixed */
  z-index: 1;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  color: #f9486c;
}

.more-details {
  position: relative;
}

.adminalumni-dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px; /* Adjust size if needed */
  color: black; /* Change color to black */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%; /* Ensures centering within the cell */
}

.adminalumni-dropdown-menu {
  position: absolute;
  right: 10px;
  top: 30px;
  background: #f9486c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.adminalumni-dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  margin-right: 20px;

}

.adminalumni-dropdown-menu p {
  margin: 0;
  padding: 8px 12px;
  cursor: pointer;
}

.adminalumni-dropdown-menu p:hover {
  background: rgba(255, 255, 255, 0.2);
}

.more-details:hover .dropdown-menu {
  display: flex;
}


