.donation-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f57197;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .donation-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #fdfdfd;
    font-weight: bold;
  }
  
  .donation-description {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #fbfbfb;
  }
  
  .success-message {
    color: green;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .donation-form {
    display: flex;
    flex-direction: column;
  }
  
  .donation-label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .donation-input,
  .donation-select,
  .donation-textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .donation-textarea {
    resize: none;
    height: 100px;
  }
  
  .donation-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .donation-button:hover {
    background-color: #0056b3;
  }